body{
    margin-top: 0px
}
h3{
    color: #fff;
    text-align: center;
    background: #2c3e50;
    border-radius: 51px;
    margin-top: -7px;
    font-size: 26px;
    padding: 10px;
}
p{
    font-size: 19px;
}
#messageArea{
    display: none;
}
#chat{
    margin-top: 10px;
    overflow: auto;
}
#messageForm{
    position: fixed;
    bottom: 0;
    width: 73%;
    /*padding-top: 30px;*/
    background-color: white;
    /*height: 200px;*/
}

.list-group-item_custom{
    color: #fff;
    position: relative;
    display: block;
    padding: 8px 17px !important;
    margin-bottom: -1px;
    background-color: #000 !important;
    border: 1px solid #4d6f6b !important;
}
.left-well-head{
    margin-left: -15px;
}
.left-well{
    background: #000;
    padding: 19px;
    overflow: auto;

    border: 1px solid transparent;
    /*border-radius: 3px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}
.chat-well{
    background: #8DCFCA;
    border-radius: 10px;
    padding: 11px !important;
    height: 78px;
}
.left-pic{
    clear: both;
    float: left;
    height: auto;
    width: 54px;
    text-align: center;
    overflow: hidden;
    margin-top: -5px;
    margin-right: 10px;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar{
    background-color: #2c3e50;
    border-color: transparent;
}
.header_logo{
    float: left;
    margin-top:5px;
    width: 71px;
    height: 60px;
}
.footer_tag{
    float: right;
    font-family: verdana;
}
.node_image{
    text-align: center;
}
.node_image p{
    margin:20px 0 20px 0;
    font-weight: 100;
    color: #707368;
}
.node_logo{
    width: 50%;
}
.help{
    margin-top: 60px;
    text-align: center;
}
.help a{
    margin-top: -10px;
}


@media only screen and (max-width:360px){
    .left-well{
        height: 200px !important;
        position: relative;
        width: 100%;
    }
    .left-well h3{
        color: #fff;
        text-align: center;
        background: #2c3e50;
        border-radius: 51px;
        margin-top: -10px;
        font-size: 15px;
        padding: 3px;
    }
    .left-well-head{
        display: none;
        padding-right: 0px !important;
    }
    .list-group-item_custom{
        color: #fff;
        position: relative;
        display: block;
        padding: 0px 2px !important;
        margin-bottom: -1px;
        background-color: #000 !important;
        border: 1px solid #000 !important;
    }
    #messageForm{
        width:92%;
    }
    .chat{
        margin-bottom: 112px;
    }

}
